@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --ff-base: "Inter", sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fz-pergraph: 14px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* custmize styles */
body{
  font-size: var(--fw-600);
  font-family: var(--ff-base);
  margin-inline: 1rem;
  height: 100vh;
  display:grid;
  place-content: center;
  background-color: var(--Off-Black);
  color:var(--White);
  font-size: var(--fz-pergraph);
}
main{
  background-color: var(--Dark-Grey);
  max-width:35rem;
  max-height: 38.75rem;
  padding:2rem 2rem;
  border-radius: .7rem;
  display:grid;
  gap:1.5rem;
  text-align: center;

}
.avatar-img{
  width:5.6rem;
  border-radius: 50%;
  display:block;
  margin-inline: auto;;
}
h1{
  font-size: 1.5rem;
  font-weight: var(--fw-600);
  margin-bottom: .5rem;
}

.location{
  color: var(--Green);
  font-weight: var(--fw-600);
}
.descrption{
  color:hsla(0, 0%, 100%, 0.7);
  font-weight: var(--fw-400);
}
.social-media {
  display:grid;
  gap:.8rem
}
.social-media li{
  list-style: none;
  background-color: var(--Grey);
  border-radius: .5rem;
  font-weight: var(--fw-600);

}
.social-media li a{
  display: block;
  width:100%;
  text-decoration: none;
  color:var(--White);
  padding:.8rem 1rem;
}
.social-media li:hover a{
  background-color: var(--Green);
  color:var(--Off-Black);
}
